@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans min-h-screen overflow-x-hidden transition-colors duration-300;
  }
  
  .dark body {
    @apply bg-slate-950 text-slate-100;
  }
}

@layer components {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
